@font-face {
	font-family: 'crypto';
	src: url('/TYPOCRYPTO_S4_FINGX.ttf');
}
* {
	margin: 0;
}
.content {
	scroll-snap-type: mandatory;
	/* scroll-snap-points-y: repeat(1000px); */
	scroll-snap-type: y mandatory;
}

section {
	/* height: 2000px; */
	/* height: 1000px; */
	height: 1000px;
	background-color: rgb(14, 14, 14);
	/* margin-bottom: 10px; */
	width: 50%;
	scroll-snap-align: start;
}

.header {
	margin-top: 20px;

	color: rgb(235, 235, 235);
	position: fixed;
	width: 50%;
	top: 0;
	left: 0;
}
.title {
	font-family: 'crypto';
	font-size: 130px;
	text-transform: uppercase;
	z-index: 1;
	margin-left: 30px;
	font-variation-settings: 'wght' 10;
}

span {
	line-height: 1em;
	transition: font-variation-settings 0.5s ease-in-out;
}

ul {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}
li {
	margin: 5px;
}
nav {
	margin-right: 35px;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
}

.navigation {
	position: fixed;
	bottom: 0;
	width: 50%;
	border-top: 1px solid white;
}
.last-project {
	font-variation-settings: 'wght' 10;
}
