.header {
	color: black;
	position: fixed;
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	&-navigation {
		position: fixed;
		top: 0;
		width: 45%;
		justify-content: space-between;

		ul {
			display: flex;
			justify-content: space-between;
			font-size: 18px;

			font-family: Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			list-style-type: none;
		}
		li {
			margin: 5px;
		}
	}
	&-presentation {
		position: fixed;
		top: 35px;
		width: 10%;
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 40px;
		font-size: 18px;
	}
}

.infos {
	scroll-snap-type: mandatory;
	/* scroll-snap-points-y: repeat(1000px); */
	scroll-snap-type: y mandatory;
	width: 50%;
}

.title {
	font-family: 'crypto';
	opacity: 0.8;
	background-color: none;
	font-size: 160px;
	text-transform: uppercase;
	z-index: 1;
	font-variation-settings: 'wght' 10;
}

span {
	line-height: 1em;
	transition: font-variation-settings 0.5s ease-in-out;
}

.navigation {
	ul {
		flex-direction: column;
	}
	position: fixed;
	bottom: 0;
	width: 50%;
}

.last-project {
	font-variation-settings: 'wght' 10;
}
// .image-text {
// 	font-size: 13px;
// 	color: rgb(26, 26, 26);
// 	position: fixed;
// 	// flex-direction: row-reverse;
// 	font-family: Arial, Helvetica, sans-serif;
// 	// margin-left: 45%;
// 	margin-top: 10%;
// 	// height: 65%;
// 	// width: 50%;
// 	writing-mode: vertical-rl;
// 	text-align: center;
// 	// transform: rotate(180deg);
// }
