.header {
	color: black;
	position: fixed;
	// flex-direction: column-reverse;
	height: 100%;
	top: 0;
	left: 0;
	&-navigation {
		position: fixed;
		width: 100%;

		justify-content: space-between;

		li {
			margin: 5px;
		}
	}

	.title {
		position: fixed;
		font-family: 'crypto';
		background-color: none;
		font-size: 180px;
		line-height: 0;
		margin-left: 45px;
		text-transform: uppercase;
		font-variation-settings: 'wght' 10;
		color: black;
	}
	.image-text {
		font-size: 20px;
		color: rgb(26, 26, 26);
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 11%;
		// margin-top: 18%;
		width: 45%;
		text-transform: uppercase;
		margin-left: 45px;
	}

	&-footer {
		position: fixed;
		bottom: 3%;
		width: 45%;
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		margin-left: 45px;
		font-size: 20px;
	}
}

ul {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}
.infos {
	scroll-snap-type: mandatory;
	/* scroll-snap-points-y: repeat(1000px); */
	scroll-snap-type: y mandatory;
	// width: 5%;
}

span {
	line-height: 1em;
	transition: all 0.5s ease-in-out 10s;
}

.last-project {
	font-variation-settings: 'wght' 10;
}

// .erase {
// 	opacity: 0.2;
// 	// animation: efface 0.5s ease-in-out 1s;
// 	// transition: opacity 0.5s ease-in-out 1s;

// 	// transition: opacity 0.5s ease-in;
// 	// color: white;
// }
// .border {
// 	border-bottom: 13px solid white;
// }

// @keyframes efface {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }
