.content-left {
	color: black;
	height: 100%;
	width: 50%;

	&_navigation {
		position: fixed;
		justify-content: space-between;
		width: 50%;

		li {
			margin: 5px;
		}
	}

	.title {
		position: fixed;
		font-family: 'crypto';
		background-color: none;
		font-size: 180px;
		margin-left: 45px;
		text-transform: uppercase;
		font-variation-settings: 'wght' 10;
		color: black;
	}
	.text-project {
		@include font-text;
		color: rgb(26, 26, 26);
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 11%;
		width: 45%;
		text-transform: uppercase;
		margin-left: 45px;
	}

	.text-description {
		@include font-text;
		position: fixed;
		bottom: 3%;
		width: 45%;
		margin-left: 45px;
	}
}

ul {
	@include font-text;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

span {
	transition: all 0.5s ease-in-out 10s;
}

.last-project {
	font-variation-settings: 'wght' 10;
}
