.content {
	display: flex;
	justify-content: flex-end;

	.image {
		flex-direction: column;
		width: 45%;

		section {
			align-items: center;
			position: relative;
			width: auto;
			height: 1000px;
			scroll-snap-align: start;
			img {
				height: auto;
				width: 100%;
				// height: auto;
				// object-fit: cover;
				// position: sticky;
				// top: 0px;
				// height: 100%;

				margin: 20px;
			}
			.img-forte {
				height: auto;
				width: 90%;
			}
			.section-image-text {
				display: flex;
				font-size: 18px;
				width: 90%;
				font-family: Arial, Helvetica, sans-serif;
			}
			.number {
				margin-right: 30px;
			}
		}

		// &-text {
		// 	font-size: 13px;
		// 	color: white;
		// 	// background-color: white;
		// 	position: fixed;
		// 	flex-direction: row-reverse;
		// 	font-family: Arial, Helvetica, sans-serif;
		// 	top: 0px; //2.5rem
		// 	right: 0;
		// 	writing-mode: vertical-rl;
		// 	text-align: center;
		// 	transform: rotate(180deg);
		// }
	}
}
